<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408467174940-ig44mjnau9l4h5d9nnqvdssv1cfdr4pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408467174940-ig44mjnau9l4h5d9nnqvdssv1cfdr4pm</string>
	<key>API_KEY</key>
	<string>AIzaSyD3fWwW-qjdZ4WG90U1PjG91zUvvy1eoWg</string>
	<key>GCM_SENDER_ID</key>
	<string>408467174940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackthon</string>
	<key>PROJECT_ID</key>
	<string>hackthon-474f6</string>
	<key>STORAGE_BUCKET</key>
	<string>hackthon-474f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408467174940:ios:e88856f691bc8597da11d9</string>
</dict>
</plist>